<h1>Our First Page</h1>
<p>Hi there!</p>

<ul>
{{#each model as |monster|}}
  <li>{{monster.name}} is level {{monster.level}}{{#if monster.active}} and is active{{/if}} <button {{action 'toggleActive' monster}}>Toggle Active</button></li>
{{/each}}
</ul>
